.menu {
  display: flex;
}

* {
  background-color: rgb(255, 78, 55);
  color: white;
}

button {
  background-color:rgb(52, 211, 131);
}

.logout-button, .to-main-button {
  margin-left: auto;
}

.register-button {
  margin-right: auto;
}

.sign-buttons {
  display: flex;
  flex-flow: row;
}
